.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    text-align: center;
}

.smallContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2%;
}

.adressContainer {
    min-height: 330px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adressMiniContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    width: 50%;
    height: 25vh;
    padding: 2%;
    /* margin-bottom: 2%; */

}

.phone {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 60%;
    height: 25vh;
    padding: 2%;
    /* margin-bottom: 2%; */
}

.email {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    height: 25vh;
    padding: 2%;
    overflow-wrap: break-word;
    /* margin-bottom: 5%; */
    /* margin-top: 10%; */
}

.email:hover,
.phone:hover,
.address:hover {
    filter: invert(85%) sepia(44%) saturate(5203%) hue-rotate(309deg) brightness(97%) contrast(93%);
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 3%;
}

.openingHours {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
    min-height: 330px;
}

.daysAndHours {
    width: 35%;
    display: flex;
    justify-content: center;

}

.days {
    width: 30%;
    text-align: left;
}

.hours {
    width: 70%;
    overflow-wrap: break-word;
    text-align: right;
}

/*Media queries*/
@media only screen and (min-width: 820px)and (max-width: 912px) {
    .iframe{
        margin-top: 8%;
    }
}

@media only screen and (min-width: 769px)and (max-width: 912px) {
    .daysAndHours {
        width: 60%;    
    }

}

@media only screen and (min-width: 913px) and (max-width: 1280px){
    .daysAndHours {
        width: 45%;    
    }

}

@media only screen and (width: 1024px) {
    .iframe{
        margin-top: 6%;
    }
    /* .daysAndHours {
        width: 50%;    
    } */
 

}

@media only screen and (width: 768px){
    .iframe{
        margin-top: -1%;
    }    
}

@media only screen and (max-width: 768px) {
    .iframe{
        margin-top: -7%;
    }
    .smallContainer {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .adressContainer {
        width: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .adressMiniContainer {
        flex-direction: column;
    }

    h2 {
        overflow-wrap: break-word;
    }

    .openingHours {
        width: auto;
        padding-right: 0;
        /* margin-top: -5%; */
    }

    .daysAndHours {
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .days {
        text-align: center;
       width: auto;
        /* padding:0px */
    }
    
    .hours {
        text-align: center;
       width: auto;
        /* padding:0px */
        padding-bottom: 2%;

    }
    .email {
        margin-bottom: 0;
    }
    .phone {
        margin-bottom: 2%;
    }
    .address {
        margin-bottom: 2%;
    }
}


@media only screen and (min-width: 390px) and (max-width: 393px) {
    .iframe{
        margin-top: -8%;
    }
}


@media only screen and (width: 360px){
    .iframe{
        margin-top: -9%;
    }
}

@media only screen and (width: 375px){
    .iframe{
        margin-top: -10%;
    }
} 

@media only screen and (width: 280px) {
    .iframe{
        margin-top: -12%;
    }
}
