@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Helvitica en bradley Hand";
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


/*Fixed Image section*/
.mainFixedImageContainer {
    height: 100%;
    width: 100vw;
}

.mainFixedImage {
    /* min-height: 100%; */
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-attachment: scroll; */
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}

.descriptionContainer {
    width: 100%;
    height: auto;
    white-space: pre-line;
    color: white;
    color: black;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: rgba(188, 185, 185, 0.5); */

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    transform: translate(0, 970px);
    -webkit-transform: translate(0, 970px);
    -moz-transform: translate(0, 970px);
    -o-transform: translate(0, 970px);
    -ms-transform: translate(0, 970px); 
     margin-bottom: 95%;
    padding: 3rem 0 3rem 0;

    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
    
}

.description {
    margin-left: 2rem;
    width: 100%;
}

.hiddenText {
    display: none;
}

.imageInfoContainer {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}



.imageInfotext {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
}


.CarouselContainerOne, .CarouselContainerTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translate(0, 1600px);
    -webkit-transform: translate(0, 1600px);
    -moz-transform: translate(0, 1600px);
    -o-transform: translate(0, 1600px);
    -ms-transform: translate(0, 1600px); */
    /* -webkit-transform: translate(0, 970px); */
}

.CarouselContainerOne{
    margin-bottom: 10rem;
}


.CarouselContainerTwo{
    margin-bottom: 10rem;
}

.title {
    margin-left: 2rem;
}

.middleContainer {
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(188, 185, 185, 0.5); */

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh); */
    padding: 2rem 0 2rem 0 ;

}

.cardContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    row-gap: 20px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}


.card {
    transition: transform .2s;
    background-color: #ffffff;
    background-color: rgb(247, 244, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-wrap: break-word;
    max-height: fit-content;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: -10px 20px 20px 5px rgba(10, 9, 9, 0.3);
    box-shadow: -10px 20px 20px 5px rgba(10, 9, 9, 0.5);

}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 257px;
    color: black;
    text-decoration: none;
    position: relative;
}

.link:hover {
    color: #FFA07A;
}

.dishesImage {
    width: 100%;
    height: 160px;
}

.dishesTitle {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    font-family: "Dancing Script", cursive;
}

.price {
    color: rgb(112, 115, 119);
    padding-top: 0.2rem;
    font-size: 1.2rem;

}

.sharingTopTitle {
    /* margin-top: 5%; */
}

.topTitle,
.sharingTopTitle {
    font-size: 3rem;
    padding: 0 0 3rem 0;
    font-family: "Dancing Script", cursive;
    text-align: center;
}

.containerImage,
.containerSharingFoodImage {
    background-image: linear-gradient(rgb(234, 232, 232), rgb(0, 0, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}


/*Media queries*/


/* @media only screen and (max-width: 1300px) {
    .descriptionContainer {
           margin-bottom: 110rem;
    }
} */

@media only screen and (min-width: 1000px) {
    .descriptionContainer {
           margin-bottom: 105rem;
    }
}



@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .cardContainer {
        grid-template-columns: repeat(2, 20rem);
    }

    .descriptionContainer {
        transform: translate(0, 1220px);
        -webkit-transform: translate(0, 1220px);
        -moz-transform: translate(0, 1220px);
        -o-transform: translate(0, 1220px);
        -ms-transform: translate(0, 1220px);
        /* margin-bottom: 1350px; */
        margin-bottom: 140rem;
        /* margin-bottom: 160rem */


    }

    .cardContainer{
        margin-bottom: 7rem;
    }

    /* .CarouselContainerOne {
        transform: translate(0, 1800px);
        -webkit-transform: translate(0,1800px);
        -moz-transform:translate(0,1800px);
        -o-transform: translate(0,1800px);
        -ms-transform: translate(0,1800px);
    } */
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {

    .descriptionContainer {
        transform: translate(0, 1410px);
        -webkit-transform: translate(0, 1410px);
        -moz-transform: translate(0, 1410px);
        -o-transform: translate(0, 1410px);
        -ms-transform: translate(0, 1410px);
        margin-bottom: 160rem

    }

    .cardContainer{
        margin-bottom: 7rem;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1300px){
    .cardContainer{
        grid-template-columns: repeat(3, 25%);
        width: 90%;
    }
}


@media only screen and (min-width: 1301px) and (max-width: 1700px){
    .cardContainer{
        grid-template-columns: repeat(3, 20%);
        width: 90%;
    }
}

@media only screen and (width: 1024px) {
    .descriptionContainer {
           /* margin-bottom: 95rem; */
           margin-bottom: 120rem;
    }

    .cardContainer{
        grid-template-columns: repeat(3, 30%);
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .middleContainer {
        /* margin-bottom: 250% */
    }

    .cardContainer {
        grid-template-columns: repeat(1, 60%);
        margin-bottom: 7rem;
    }

    .descriptionContainer {
        text-align: center;
        margin-left: 0;
        transform: translate(0, 925px);
        -webkit-transform: translate(0, 920px);
        -moz-transform: translate(0, 920px);
        -o-transform: translate(0, 920px);
        -ms-transform: translate(0, 920px);
        margin-bottom: 120rem;

    }

    .description {
        margin-left: 0;
    }

    .title {
        text-align: center;
        margin-left: 0;
    }

    .sharingTopTitle,
    .topTitle {
        font-size: 3rem;
        padding: 0 0 0.5rem 0;
    }

    
.imageInfotext {

    padding: 0.3rem;

}

    .imageInfotext{
        font-size: 0.8rem;
    }
}


@media only screen and (width: 768px) {
    .descriptionContainer {
        transform: translate(0, 1025px);
        -webkit-transform: translate(0, 1025px);
        -moz-transform: translate(0, 1025px);
        -o-transform: translate(0, 1025px);
        -ms-transform: translate(0, 1025px);
    }    
}


@media only screen and (min-width: 280px) and (max-width: 540px) {
    .cardContainer {
        grid-template-columns: repeat(1, 80%);
    }
    .descriptionContainer {
        /* margin-bottom: 470px; */
        margin-bottom: 70rem;
        transform: translate(0, 920px);
        -webkit-transform: translate(0, 920px);
        -moz-transform: translate(0, 920px);
        -o-transform: translate(0, 920px);
        -ms-transform: translate(0, 920px);
    } 

    .CarouselContainerTwo{
        margin-bottom: 5rem;
    }
}



@media only screen and (width: 540px) {
    .descriptionContainer {
        margin-bottom: 95rem;
        
    }    
}



@media only screen and (min-width: 240px) and (max-width: 376px) {
    .descriptionContainer {
        /* margin-bottom: 450px; */
        /* margin-bottom: 400% */
        /* margin-bottom: 95rem; */

    }

    .descriptionContainer {
        /* margin-bottom: 470px; */
        margin-bottom: 80rem;
        /* transform: translate(0, 900px); */
        -webkit-transform: translate(0, 738px);
        /* -moz-transform: translate(0, 920px);
        -o-transform: translate(0, 920px);
        -ms-transform: translate(0, 920px); */
    } 

}


@media only screen and (max-width: 280px) {
    .dishesTitle {
        font-size: 1rem;
    }


}


