@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container {
    font-family: "Helvitica en bradley Hand";
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/*Parallax*/
.parallax {
    min-height: 2200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    /* margin-bottom: 1rem; */

}

.descriptionContainer {
    width: 100%;
    height: auto;
    line-height: 1.5rem;
    white-space: pre-line;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0),
        5px 5px 70px rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
}

.description {
    margin-left: 2rem;
    width: 100%;
}

.title {
    margin-left: 2rem;
}

.middleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .cardContainer {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    margin: 2rem 0 5rem 0;
    width: 90%;
} */



.cardContainer {
    /* background-color: red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 22%);
    row-gap: 20px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}


.card {
    transition: transform .2s;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem 2% 0 0; */
    /* width: 50%; */
    box-shadow: 0px 0px 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-wrap: break-word;
    max-height: fit-content;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: -10px 20px 20px 5px rgba(10, 9, 9, 0.3);
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 257px;
    color: black;
    text-decoration: none;
    position: relative;
}

.link:hover {
    color: #FFA07A;
}

.dishesImage {
    width: 100%;
    height: 160px;
}

.dishesTitle {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    font-family: "Dancing Script", cursive;
}

.price {
    color: rgb(112, 115, 119);
    padding-top: 0.2rem;
    font-size: 1.2rem;

}

.sharingTopTitle {
    /* margin-top: 5%; */
}

.topTitle,
.sharingTopTitle {
    font-size: 3rem;
    font-family: Dancing Script, cursive, "Lucida Handwriting", sans-serif;
}

.containerImage,
.containerSharingFoodImage {
    background-image: linear-gradient(rgb(234, 232, 232), rgb(0, 0, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}


/*Media queries*/
/* @media only screen and (width: 820px){
    .cardContainer {
        width: 100%;
    }

    .parallax {
        min-height: 2600px;

    }

    .descriptionContainer {
        position: absolute;
        top: 48%;
    }
}


@media only screen and (width: 912px){
 
    .parallax {
        min-height: 2900px;
    }

    .descriptionContainer {
        position: absolute;
        top: 49%;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1281px){
    .parallax {
        min-height: 1800px;
    }

    .descriptionContainer {
        top: 44%;

    }
    
}


@media only screen and (max-width: 768px) {
    .parallax {
        min-height: 2200px;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .descriptionContainer {
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 42%;
    }

    .card {
        width: 50%;
        display: inline-block;
        margin-top: 5%;
        overflow: hidden;
    }

    .description {
        margin-left: 0;
    }

    .sharingTopTitle,
    .topTitle {
        font-size: 3rem;
    }
}

@media only screen and (width: 768px) {
    .descriptionContainer {
        position: absolute;
        top: 47%;
    }
}

@media only screen and (width: 540px){
 
    .parallax {
        min-height: 1800px;
    }

    .descriptionContainer {
        top: 40%;
    }

}


@media only screen and (max-width: 280px) {
    .parallax {
        min-height: 1600px;
    }

    .descriptionContainer {
        position: absolute;
        top: 29%;
    }
    
    .dishesTitle {
        margin-top: 0.5rem;
    }
}


@media only screen and (min-width: 360px) and (max-width: 376px) {
    .parallax {
        min-height: 1900px;
    }
}



@media only screen and (min-width: 769px){
 .card{
    background-color: #FFA07A;
    width: 35%;
 }
}
    */







/*Tweede*/
/* 

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .parallax {
        min-height: 2800px;
    }

    .cardContainer {
        grid-template-columns: repeat(2, 20rem);
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .parallax {
        min-height: 2100px;
    }

    .descriptionContainer {
        position: absolute;
        top: 48%;
    }
} */


@media only screen and (min-width: 1200px) {
    /* .parallax {
            min-height: 2200px;
        } */

    .cardContainer {
        /* background-color: rgb(191, 228, 191); */
        /* grid-template-columns: repeat(3, 21rem); */
    }
}




/* @media only screen and (max-width: 768px) {

    
        .cardContainer {
            grid-template-columns: repeat(1, 25%);
        }
   } */



@media only screen and (max-width: 768px) {
    /* .parallax {
        min-height: 2200px;
    } */

    .cardContainer {
        grid-template-columns: repeat(1, 65%);
    }

    .descriptionContainer {
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 20%;
    }

    .description {
        margin-left: 0;
    }

    .title {
        text-align: center;
        margin-left: 0;
    }

    .sharingTopTitle,
    .topTitle {
        font-size: 3rem;
    }
}


/*
@media only screen and (width: 768px) {
    .parallax {
        min-height: 2300px;
    }

    .descriptionContainer {
        position: absolute;
        top: 45%;
    }
}


@media only screen and (min-width: 280px) and (max-width: 500px) {
    .cardContainer {
        grid-template-columns: repeat(1, 100%);
    }
}



@media only screen and (width: 540px) {
    .parallax {
        min-height: 1800px;
    }

    .descriptionContainer {
        position: absolute;
        top: 40%;
    }
}


@media only screen and (min-width: 240px) and (max-width: 376px) {
    .parallax {
        min-height: 1800px;
    }

    .descriptionContainer {
        position: absolute;
        top: 40%;
    }

}


@media only screen and (max-width: 280px) {
    .dishesTitle {
        font-size: 1rem;
    }
} */