body{
    overflow-x: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImage {
    width: 100vw;
    max-height: 60vh;
    margin-bottom: 5%;
}

.descriptionContainer {
    width: 65%;
    margin-bottom: 3%;
}

h1 {
    margin-bottom: 2%;
    font-size: 2rem;
}

.gerechtenContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.gerechtenMiniContainer {
    transition: transform .2s;
    background-color:#fffdfd; 
    background-color:#ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    margin-right: 2%;
    height: 13rem;
    box-shadow: 0px 1px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gerechtenMiniContainer:hover{
    transform: scale(1.2);
    z-index: 1;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 280px;
    color: black;
    text-decoration: none;
    position: relative;
}

.link:hover{
    color:  #db2b39;
}

.gerechtenImage {
    width: 100%;
    height: 150px;
}

.gerechtTitle {
    margin-top: 8%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 1em;
}

/*Media queries*/
@media only screen and (max-width: 540px) {
    .container {
        text-align: center;
    }

    .gerechtenContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .gerechtenMiniContainer {
        width: 70%;
        display: inline-block;
        margin-top: 5%;
    }
}