.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;   
    width: 100vw;
}

.miniContainer {
    /* background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 10px 10px 20px 10px;
    margin-top: 6rem; */

    background-color: rgb(249, 243, 243);
    background:rgba(255,255,255, 0.9);
    background-color: rgba(255,255,255,.1);
    box-shadow: 10px 10px 20px 10px;
    width: 40%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    margin-top: 10rem;
    padding-top: 1rem;
}

.secondContainer{
    margin: 3% 0 0 1%;
    align-self: self-start;
}
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.pic {
    width: 90%;
    height: 20rem;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.descriptionContainer {
    color: white;
    margin: 0.2rem 0 0 2.5rem ;
    text-align: center;
    align-self: flex-start;
}

.description {
    text-align: left;

}

.origin {
    margin-bottom: 1%;
}

.aAsBtn {
    display: flex;
    width: 100%;
    padding-left: 0;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}

.aAsBtn div {
    font-weight: bold;
    font-size: 1.5rem;
}


.pointingFinger {
    width: 5rem;
    margin-right: 95%;
}

.pointingsFinger:hover {
    filter: invert(60%) sepia(30%) saturate(648%) hue-rotate(319deg) brightness(120%) contrast(103%);
}


/*Media queries*/
@media only screen and (max-width: 768px) {
    .miniContainer {
        width: 85%;
        margin-top: 10rem;
    } 
}

@media only screen and (min-width: 769px)and (max-width: 1350px){ 
    .miniContainer {
        width: 55%;
        margin-top: 10rem;
    } 
}

/* @media only screen and (min-width: 1280px) {
    .miniContainer {
        width: 50%;
        margin-top: 10rem;
    } 
} */

@media only screen and (min-width: 1351px) {
    .miniContainer {
        width: 45%;
        margin-top: 10rem;
    } 
} 


@media only screen and (width: 1024px) {
    .miniContainer {
        position: sticky;
        top: 0;
        margin-top: 15rem;
    } 
}

