* {
    box-sizing: border-box;
    margin: 0;
  }
  
.container {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 3%;
}

.goalContainer {
    background-color: rgb(233, 229, 229);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 65vh;
    border-radius: 40px;
}

.groupGoalPic {
    width: 50%;
    height: 40vh;
    text-align: center;
}

.clickableImages {
    width: 50%;
    display: inline-block;
}

.goalImage {
    width: 100%;
    height: 22vh;
    border: 2px solid black;
}

.goalDescription {
    width: 35%;
    height: 40vh;
    margin-right: 3%;
}

.missionContainer {
    background-color: rgb(233, 229, 229);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 65vh;
    border-radius: 40px;
}

.missionDescription {
    margin-top: -5%;
    width: 35%;
    height: 40vh;
    margin-left: 3%;
}

.groupMissionPic {
    background-color: red;
    margin-top: -9%;
    width: 45%;
    height: 30vh;
    text-align: center;
}

.toughableImage {
    width: 50%;
    display: inline-block;
}

.missionImage {

    width: 100%;
    height: 25vh;
    border: 2px solid black;

}

.missionTitle {
    margin-top: 5%;
}


.miniImage {
    width: 550px;
    height: 450px;
}

.modalBtn {
    width: 120px;
    height: 25px;
    margin-top: 2%;
    background-color: #5a9fbe;
    border-radius: 30px;
    border: 5px;
    font-weight: bolder;
   cursor: pointer;
}


@media only screen and (max-width: 540px){

}