:root {
    --main-color: white;
    --title-color: black;
    --background-color: rgb(248, 243, 243);
    --title-font-family:  "Lucida Handwriting", sans-serif;
    --indicator-is-active: gray;
}

.carousel {
    /* background-color: #64da74; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 400px;
}

.contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    /* background-color: aqua; */
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px #666;
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start;
    justify-content: center; */
    /* max-width: 100%;
    height: auto; */
    width: 630px;

    height: 70%;
    /* margin:auto; */
    padding: 0;
    /* position: relative; */
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: var(--main-color);
    filter: drop-shadow(0px 0px 5px #555555);
}

.arrowLeft {
    left: 1.2rem;
    top: 35%
}

.arrowRight {
    right: 1.2rem;
    top: 35%
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 2rem;
    position: absolute;
    top: 65%;
}

.indicator {
    background-color: var(--main-color);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #202020;
    margin: 0 0.2rem;
    cursor: pointer;
 
}

.slideHidden {
    display: none;
}

.indicatorInactive {
    background-color: var(--indicator-is-active);
}

.dishesTitle {
    background-color: var(--main-color);
}

.titleHidden {
    display: none;
}

.title {
    color: var(--title-color);
    /* margin: 0 0 0.5rem 0; */
    font-size: 1.5rem;
    font-weight: bolder;
    /* background-color: rgba(237, 228, 228, 0.5); */
    /* background-color: #fffbfb; */
    font-family: var( --title-font-family);
    height: 15%;
    /* padding: 0.2rem; */
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

/* .priceHidden {
    display: none;
} */

.price{
    /* background-color: aqua; */
    font-size: 1.2rem;
    color: #838282;

}

@media only screen and (max-width: 768px) {
    .title {
    margin: 0.5rem 0 1.8rem 0;
}
}

@media only screen and (width: 280px) {
    .title {
    margin-bottom: 2.8rem
}
}