footer {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  font-family: HelveticaNeue, Helvetica, Sans-ns-Serif;
  font-size: 1rem;
  z-index: 1;
  /* position: sticky;
  bottom: 0; */
  text-transform: uppercase;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footerNavLinks {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.footerNavLinkItem a {
  font-weight: bold;
  /* color: rgb(56, 54, 54); */
  color: white;
}

.footerUnderline {
  align-self: center;
  /* border-top: 3px solid #474545; */
  border-top: 3px solid #727070;
  border-top: 3px solid #cacaca;


  width: 50%;
  margin-top: 0.8rem;
}

.copyright, .copyright a {
  text-align: center;
  list-style: none;
  /* color: rgb(96, 98, 99); */
  color: white;
  margin-top: 0.5rem;
}

.copyright a {
cursor: pointer;
}

.copyright a:hover {
 color: #dcdcdc;
  }
.FooterLinkText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fbIconText {
  padding-right: 10px;
}

.fbIconText:hover {
  color: #fa7f4e; ;
}

.fbIcon {
  width: 8%;
  background-color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.fbIcon:hover {
  background-color: #FFA07A;
}

@media screen and (max-width: 768px) {
  footer {
    z-index: 0;
  }

  .footerUnderline {
    margin-top: 0.6rem;
  }

}