footer {
  background-color: black;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
}

.footerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footerNavLinks {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.footerNavLinkItem a {
  font-weight: bold;
  color: rgb(56, 54, 54);
  color: white;
}



.footerUnderline {
  align-self: center;
  border-top: 3px solid #474545;
  width: 50%;
  margin-top: 8px;
}


.copyright {
  text-align: center;
  list-style: none;
  color: rgb(96, 98, 99);
}

.FooterLinkText{
  display: flex;
  justify-content: center;
  align-items: center;
}


.fbIconText{
  padding-right: 10px;
}

.fbIconText:hover{
  color: #FFA07A;
}

.fbIcon{
  width: 9%;
  background-color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.fbIcon:hover{
background-color: #FFA07A;
}
