:root {
    --mainColor: rgba(0, 0, 0, 0.5);
    --mainColorLighter: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: white;
    --header-font-family: HelveticaNeue, Helvetica, Sans-ns-Serif;
}

.logoContainer {
    margin: 0.4rem 0 0 4rem;
    width: 2.5rem;
    height: 48%;
}

.logo {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    z-index: 1;
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: header-font-family;
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 100px;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
}

nav a:hover {
    background-color: #f9baa1;
    color: #000;
}

.active {
    color: #fbc1ab;
    pointer-events: inherit;
}

header .nav_btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header .nav_btn:hover {
    color: var(--secondaryColor);
}


.faTimes,
.faBars {
    color: #fda58a;
    margin-bottom: -5px;
}

.faBars {
    height: 1.5rem;
}


/*Media queries*/
@media only screen and (width: 820px) {
    .logoContainer {
        margin: 0.4rem 3rem 0 1rem;

    }
}


@media only screen and (max-width: 768px) {
    header {
        height: 55px;

    }

    header .nav_btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-110vh);
        z-index: 1;
        flex-direction: column;
    }

    header .responsive_nav {
        transform: none;
        background-color: black
    }

    header .nav_close_btn {
        position: absolute;
        top: 1rem;
        right: 2rem
    }

    nav a {
        font-size: 1.5rem;
    }

    .logoContainer {
        margin-left: 0;
        width: 2.2rem;
    }

}