*{
    box-sizing: border-box;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.miniContainer {
    background-color: rgb(242, 243, 245);
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10%;
}

.modalBtn {
    color: white;
    width: 50%;
    height: 8%;
    margin-top: 2%;
    /* background-color: #4098d3; */
    /* background-color: rgb(140, 147, 155); */

    border-radius: 30px;
    border: 5px;
    font-weight: 900;
    cursor: pointer;
    font-size: 1.2em;

    background-image: linear-gradient(to right, rgb(140, 147, 155) , rgb(39, 39, 39));
    text-align: center;
}

.modalBtn:hover {
    background-color: #f7c2ad;
    background-image: linear-gradient(to right,  #583020, #f7c2ad);

    color: black;
}

/*Media queris*/
@media only screen and (min-width: 913px) and (max-width: 1280px) {
    .miniContainer {
   margin-top: 11%;
   width: 70%;
    }
}

@media only screen and (min-width: 820px) and (max-width: 912px) {
    .miniContainer {
   margin-top: 18%;
   width: 80%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 768px){
    .miniContainer {
        margin-top: 25%;
        width: 80%;
         }
}

@media only screen and (min-width: 360px) and (max-width: 414px){
    .miniContainer {
        margin-top: 35%;
        width: 85%;
    height: 50%;

         }
}

@media only screen and (width: 280px){
    .miniContainer {
        margin-top: 45%;
        width: 80%;
         }
}
