body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: rgba(0,0,0,0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.miniContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 10px 10px 20px 10px;
    margin-top: 1rem;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 1%;
}

.pic {
    width: 100%;
    height: 15rem;
}

.title {
    text-align: center;
    margin-top: 1%;

}

.descriptionContainer {
    color: black;
    margin: 1%;
    margin-top: 2%;
}

.description {
    margin-bottom: 1%;
}

.origin {
    margin-bottom: 1%;
}

.aAsBtn {
    display: flex;
    width: 30%;
    padding-left: 0;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}

.aAsBtn div {
    font-weight: bold;
    font-size: 1.5rem;
}

.aAsBtn:hover {
    color: rgb(240, 123, 123);
}

.pointingFinger {
    width: 35%;
}

.pointingFinger:hover {
    filter: invert(85%) sepia(44%) saturate(5203%) hue-rotate(309deg) brightness(97%) contrast(93%);
}







/*Media queries*/

@media (max-width: 912px) and (min-width: 812px) {
    .container {

        margin: 14rem 0 0rem 0;
    }

    .miniContainer {
        width: 70%;
    }

    .pic {
        width: 100%;
        height: 25rem;
    }

}


@media only screen and (width: 768px) {
    .container {

        margin: 8rem 0 2rem 0;
    }

    .miniContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 540px) {
    .container {

        margin: 2rem 0 2rem 0;
    }

    .miniContainer {
        width: 80%;
    }
}

@media (max-width: 414px) and (min-width: 412px) {
    .container {

        margin: 5rem 0 2rem 0;
    }

    /* .miniContainer {
        width: 80%;
    } */
}