/* @import url('https://fonts.cdnfonts.com/css/bradley-hand-2'); */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(9, 15, 15, 1);
    margin-top: 10%;
    /* font-family: 'Bradley Hand'; */
    font-family: 'Dancing Script', cursive;
    /*'Great Vibes', cursive;*/
    /*"Lucida Handwriting",*/
    /* font-family: "Bradley Hand ITC TT", "Handwriting-Dakota"; */
}

.smallContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.miniContainer {
    /* color: rgb(96, 112, 112); */
    width: auto;
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 17px;
    column-gap: 20px;
    justify-content: center;
    column-count: 2;
    align-items: flex-start;
    /* font-family: serif; */
    margin-bottom: 7%;
}

.mainDishContainer{
    margin-bottom: 4%;

}

.headTitle {
    margin: 0;
    padding: 0;
    font-size: 2.7rem;
    font-weight: bolder;
    text-align: center;
}

.forkAndKnife {
    width: 200px;
    height: 60px;
    margin: 0 0 5% 0;
    padding: 0;
}

.allMenus {
    width: 100%;
    min-height: 2rem;
    text-align: center;
}

.menuNavLink:hover {
    /* color: #FFA07A; */
}

.dishTitle {
    font-weight: bold;
    font-size: 1.2rem;
    font-size: 2rem;

    font-weight: 600;

}

.dishDescription {
    font-size: 0.5;
    font-size: 1.5rem;
    font-weight: lighter;
}

.price {
    margin-top: 4%;
}

.kisdMenuTitle {
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
    font-size: 2rem;
    border-bottom: solid rgb(159, 158, 158) 3px;
    border-radius: 10px;
    text-align: center;
}

.supplementContainer{
margin-bottom: 3rem;
display: flex;
flex-direction: row;
gap: 1rem;

}

.supplementMiniContainer{
margin-top: 1rem;
font-size: 1.6rem;

}

.supplementHeadTitle{
    font-size: 2.2rem;
}
.extraInfo{
    margin-bottom: 2rem;
   text-align: center;
    overflow-wrap: break-word;
    font-size: 1.7rem;
}

/*Medi queries*/
@media only screen and (max-width: 721px) {
    .container {
        margin-top: 30%;
    }

    .miniContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
    }

    .forkAndKnife {
        margin-bottom: 2.5rem;
    }

    .allMenus {
        /* background-color: red; */
        width: 100%;
        min-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

}

@media only screen and (min-width: 722px) and (max-width: 1280px) {
    .container {
        margin-top: 15%;
    }
}