.container {
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url("/public/food-background3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.miniContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 10px 10px 20px 10px;
    margin-top: 4%;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 90%;
}

.pic {
    width: 100%;
    height: 15rem;
}

.title {
    text-align: center;
    margin-top: 1%;
}

.descriptionContainer {
    color: black;
    margin: 1%;
    margin-top: 2%;
}

.description {
    margin-bottom: 1%;
}

.origin {
    margin-bottom: 1%;
}

.aAsBtn {
    display: flex;
    width: 30%;
    padding-left: 0;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
}

.aAsBtn div {
    font-weight: bold;
    font-size: 1.5rem;
}

.aAsBtn:hover {
    color: rgb(240, 123, 123);
}

.pointingFinger {
    width: 35%;
}

.pointingFinger:hover {
    filter: invert(85%) sepia(44%) saturate(5203%) hue-rotate(309deg) brightness(97%) contrast(93%);
}


/*Media queries*/
@media only screen and (max-width: 540px) {
    .container {
        margin-top:-9%;
    }
    .miniContainer {
        margin-top: 25%;
        width: 80%;
    }
}


@media only screen and (width: 280px) {
    .container {
        margin-top: -13%;
    }
}

@media only screen and (max-width: 768px) {
    .miniContainer {
        margin-top: 20%;
        width: 80%;
    } 
}


@media only screen and (min-width: 820px) and (max-width: 1280px) {
    .miniContainer {
        width: 60%;
        margin-top: 20%;
        margin-top: 10rem;
    }
}


@media (width: 1024px) {
    .miniContainer {
        margin-top: 7rem;
    }
}

